.container_store_product_card_medium {
  cursor: pointer;
  height: max-content;
  width: 180px;
  padding: 0.5em;
  transition: all 0.2s ease-out;

  .container_image_store_card_medium {
    width: 100%;
    max-height: 40%;
    position: relative;

    .image_store_card_medium {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: var(--border-radius);
    }
  }

  .container_details_store_product_card_medium {
    display: flex;
    flex-direction: column;
    gap: 0.4em;

    .discount_store_product_card_medium {
      font-size: 0.9em;
      background-color: var(--active-color-primary);
      color: var(--active-color-white);
      border-radius: 10px 0 10px 0;
      padding: 0 0.5em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.container_store_product_card_medium:hover {
  transform: scale(1.02);
  border-radius: var(--border-radius);
}

.container_store_product_card_medium:active {
  transform: scale(0.95);
}
