.products_section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.products_header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;

  .products_header__title {
    font-size: 1.4rem;
    color: var(--active-color-secondary);
    font-family: var(--font-family);
    font-weight: 500;
  }

  .products_header__details {
    font-size: 1rem;
    text-decoration: underline;
    color: var(--active-color-primary);
  }
}

.products_list {
  display: flex;
  gap: 1rem;
  padding: 1.2rem 0.6rem;
  transition: max-height 0.6s ease-in-out, opacity 0.3s ease;
  max-height: 100%;
  transition: all 0.4s ease-in-out;
}

.products_list--collapsed {
  overflow-x: scroll;
}

.products_list--expanded {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  justify-items: center;
  opacity: 1;
  height: 100%;
}

.products_section__expanded .products_header {
  padding: 0.8rem;
  position: sticky;
  top: 0;
  background-color: var(--active-color-white);
  z-index: 10;
}

@keyframes OpenProductsSection {
  0% {
    position: absolute;
    top: 100%;
  }
  100% {
    position: absolute;
    top: 0%;
    z-index: 5;
  }
}

@keyframes CloseProductsSection {
  0% {
    position: absolute;
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
