.container_input_component {
  margin: 0.3em 0;
  width: 100%;
  height: 100%;
}

.input_component {
  width: 100%;
  height: 100%;
  color: var(--active-color-secondary);
  font-size: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 0.1s ease;

  .input_components__icons_eyes {
    position: absolute;
    font-size: 1.4em;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--active-color-secondary-light);

    transition: all 0.2s ease-in-out;

    &:hover {
      color: var(--active-color-secondary);
    }
  }

  .label_input_component {
    color: var(--active-color-secondary-light);
    transition: all 0.1s ease;
    position: absolute;
    padding: 0.4em 0;
    cursor: text;
    transition: all 0.2s ease-in-out;
  }

  .label_input_component--error {
    color: var(--active-color-red);
  }

  .input_component__input--error {
    border-color: var(--active-color-red) !important;
  }

  .label_input_component--active {
    transform: translateY(-80%);
    font-size: 0.8em;
  }
  .label_input_component--inactive {
    bottom: 0;
    font-size: 1em;
    transform: translateY(0%);
  }

  .input_component__input {
    padding: 0.8em 0.6em;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--active-color-secondary);
    transition: all 0.2s ease-in-out;
  }

  /*  &:hover {
    background-color: var(--accents-color-primary);
    color: var(--active-color-white);
  } */
}

.input_component__error {
  color: var(--active-color-red);
  font-size: 0.9em;
  margin: 0 0.2em;
}
