.container_store_categories {
  display: flex;
  flex-direction: column;
  gap: 1.8em;
  width: 100%;

  .container_category {
    display: flex;
    flex-direction: column;
  }
}

.list_categories_list {
  display: grid;
  grid-auto-flow: column;
  gap: 0.4em;
  overflow-x: auto;
  overflow-y: hidden;
}

.list_recommended_category_list {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}
