.container_store_categories {
  display: flex;
  flex-direction: column;
  gap: 1.8em;
  width: 100%;

  .container_category {
    display: flex;
    flex-direction: column;
  }
}

.list_recommended_category_list {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}
