.profile_settings_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  .profile_settings_header {
    display: flex;
    flex-direction: column;
    gap: 0.1em;

    .profile_settings_header__title {
      color: var(--active-color-secondary);
    }

    .profile_settings_header__description {
      color: var(--active-color-secondary-light);
      font-weight: 400;
    }
  }

  .profile_settings_options {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .profile_settings_option {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1em;
      color: var(--accents-color-gray);
      cursor: pointer;

      &:hover {
        .profile_settings_option__icon {
          color: var(--accents-color-primary);
        }
        .profile_settings_option__text_container {
          color: var(--accents-color-primary);
          border-bottom: 1px solid var(--accents-color-primary);

          .profile_settings_option__description {
            color: var(--active-color-secondary);
          }
        }

        .profile_settings_option__icon,
        .profile_settings_option__text_container {
          transition: all 0.1s ease-in-out;
        }
      }

      .profile_settings_option__icon {
        font-size: 1.8em;
      }

      .profile_settings_option__text_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0.6em 0;
        border-bottom: 1px solid var(--active-color-extra-light);

        .profile_settings_option__description {
          color: var(--active-color-secondary-light);
          font-weight: 400;
        }
      }

      .profile_settings_option__caret {
        margin-left: auto;
        color: var(--active-color-secondary) !important;
      }
    }
  }

  .profile_settings_option__logout {
    margin-top: auto;
  }

  .profile_settings_no_session {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;

    .profile_settings_no_session__title {
      font-size: 1.5em;
      font-weight: 600;
      color: var(--active-color-secondary);
      text-align: center;
      width: 100%;
    }
    .profile_settings_no_session__description {
      color: var(--active-color-secondary-light);
    }
  }
}
