.main_dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.2em 1em;
  gap: 1em;

  .header_main_dashboard {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color: var(--active-color-white);
  }

  .container_products_main_dashboard {
    display: flex;
    flex-direction: column;
    gap: 2em;

    .container_promotions_main_dashaboard {
      display: flex;
      flex-direction: column;
      .title_promotions_main_dashboard {
        font-size: 1.3em;
        font-weight: 300;
      }

      .content_promotions_main_dasboard {
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        padding: 0.8em 0;
        grid-auto-columns: minmax(180px, 1fr);
        gap: 1em;
        overflow-x: auto;
      }
    }

    .container_shops_main_dashboard {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  }
}
