:root {
  font-family: 'SFPro', sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* actives colors */
  --active-color-primary: #f59713;
  --active-color-secondary: #010f07;
  --active-color-secondary-light: #868686;
  --active-color-white: #ffffff;
  --active-color-light: #fbfbfb;
  --active-color-red: #ff0000;

  /* accents colors */
  --accents-color-primary: #eea734;
  --accents-color-secondary: #395998;
  --accents-color-secondary-light: #4285f4;

  /* background colors */
  --background-linear-primary: linear-gradient(
    90deg,
    rgba(245, 151, 19, 1) 35%,
    rgba(238, 167, 52, 1) 100%
  );

  /* Global */
  --border-radius: 0.4rem;
  --shadow: 0 0 4px #ababab;
  --padding-main: 1.2em 1em;

  /* max height */
  /* vh */
  --vh: 1vh;
  /* config vh phone*/
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /*  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none; Firefox
  -ms-overflow-style: none; IE and Edge

  &::-webkit-scrollbar {
    display: none; Chrome, Safari, Opera
  } */
}

html,
body {
  height: 100%;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--accents-color-primary);

  &:hover {
    color: var(--active-color-primary);
    text-decoration: underline;
  }
}

/* Quitar flechitas de input[type="number"] en Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Quitar flechitas en Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
