@font-face {
  font-family: 'SFPro';
  src: url('../assets/fonts/SFPRO/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro';
  src: url('../assets/fonts/SFPRO/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro';
  src: url('../assets/fonts/SFPRO/SFPRODISPLAYMEDIUM.OTF') format('opentype');
  font-weight: 300;
  font-style: normal;
}
