.product_card_standard {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 150px;
  height: max-content;
  background-color: var(--active-color-white);
  border-radius: var(--border-radius);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  box-shadow: var(--shadow);
  padding: 0.7em 0.5em;

  .product_card_standard__image {
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    margin: 0.2em 0;

    img {
      width: 100%;
      max-width: 90%;
      height: 100%;
      border-radius: var(--border-radius);
      aspect-ratio: 1/1;
    }
  }
}

.product_card_standard:hover {
  box-shadow: 0px 0px 20px var(--active-color-primary);
  transform: scale(1.02);
}

.product_card_standard:active {
  transform: scale(0.95);
}
