.login_customers_container {
  display: flex;
  flex-direction: column;
  gap: 1.4em;

  .login_customers_form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .login_customer_footer {
    width: 100%;

    .login_customer_footer__description {
      text-align: center;
      color: var(--active-color-secondary-light);
      font-weight: 400;
    }
  }
}
