.loader_container {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  z-index: 10;
  background-color: var(--active-color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: solid var(--accents-color-secondary);
  border-bottom-color: var(--accents-color-secondary-light);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
