.promotion_card_container {
  width: 100%;
  box-shadow: 0 0 4px #d9d9d9;
  background-color: var(--active-color-white);
  border-radius: var(--border-radius);
  margin: 0 0.3em;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    transition: border 0.3s ease-in-out;
    border: 1px solid var(--accents-color-primary);
  }

  &:active {
    transition: transform 0.2s;
    transform: scale(0.95);
  }

  .container_image_promotion_card {
    position: relative;

    .image_promotion_card {
      width: 100%;
      aspect-ratio: 4 / 3;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    .text_image_promotion_card {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 0.8em;
      background-color: var(--active-color-primary);
      color: var(--active-color-white);
    }
  }

  .info_promotion_card {
    padding: 0 0.4em 0.7em 0.4em;

    .title_info_promotion_card {
      font-weight: 400;
      font-size: 1.1em;
    }

    .discount_info_promotion,
    .price_info_promotion {
      font-weight: 500;
    }

    .discount_info_promotion {
      color: var(--active-color-primary);
      font-size: 0.9em;
    }

    .content_price_info_promotion_card {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon_price_infor_promotion_card {
        font-size: 1.3em;
      }

      .price_info_promotion_card {
        font-size: 0.7em;
        text-decoration: line-through;
        color: var(--active-color-secondary-light);
      }
    }
  }
}
