.product_card_details {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.3em;

  .product_card_details__title {
    color: var(--active-color-secondary);
    font-family: var(--font-family);
    font-weight: 600;
  }

  .product_card_details__description,
  .product_card_details__discount {
    color: var(--active-color-secondary-light);
    font-family: var(--font-family);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .content_prices {
    display: flex;
    gap: 0.2em;
    flex-wrap: wrap;

    .product_card_details__price {
      color: var(--active-color-primary);
    }

    .product_card_details__discount {
      font-size: 0.9em;
      text-decoration: line-through;
    }
  }

  .icon_discount {
    font-size: 1.2em;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
